%tr
  %td= track.start_word
  %td= track.end_word
  %td= link_to '内容を見る', track
  %td= link_to '編集する', edit_track_path(track)
  %td= link_to '削除する', track, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br
